<html>
    <head>
        <title>IRC Query</title>
    </head>
    <body>
        <p>
            To see the channels where a given user is present, go to
            <code>/v1/user/USERNAME</code>.  For example, <a
            href="/v1/user/bergey">/v1/user/bergey</a>.
        </p> <p>
            To see the users in a given channel, go to
            <code>/v1/channel/CHANNELNAME</code>.  For example <a
            href="/v1/channel/haskell">/v1/channel/haskell</a>.  Note
            that the channel is written without the leading #
            character, since that has special meaning in URLs.
        </p>
    </body>
